<md-content layout-padding layout="column" layout-fill>
    <h2 flex>Reducing Exposure</h2>

    <md-list flex>
        <md-list-item>Physical security is the most ingored</md-list-item>
        <md-list-item>Security by obscurity is not security</md-list-item>
        <md-list-item>A shared private key is not private</md-list-item>
        <md-list-item>Your security system should be able to handle Layer 8 issues</md-list-item>
    </md-list>
</md-content>

<md-fab-speed-dial md-direction="left" md-open="ctrl.openActions" ng-class="md-scale" class="md-fab-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-primary" ng-mouseover="ctrl.openActions = true">
            <i class="material-icons icon-button-adjust">more_vert</i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Next" class="md-fab md-accent md-raised md-mini" ng-click="ctrl.next()" ng-disabled="ctrl.getSlideNum() === ctrl.maxSlides">
            <i class="material-icons icon-button-adjust">arrow_forward</i>
        </md-button>
        <md-button aria-label="Back" class="md-fab md-raised md-mini" ng-click="ctrl.back()" ng-disabled="ctrl.getSlideNum() === 0">
            <i class="material-icons icon-button-adjust">arrow_back</i>
        </md-button>
        <md-button aria-label="Home" class="md-fab md-raised md-mini" ng-mouseleave="ctrl.openActions = false" ng-click="ctrl.home()">
            <i class="material-icons icon-button-adjust">home</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>