<md-content layout-padding layout="column" layout-fill>
    <h2 flex>Resources</h2>
    
    <md-list flex>
        <md-list-item class="resources-list-item" ng-click="ctrl.external('https://github.com/YashdalfTheGray/fireside-chats/blob/master/public/async/outline.md')">
            Outline for this slide deck
        </md-list-item>
        <md-list-item class="resources-list-item" ng-click="ctrl.external('https://promises-demo.firebaseapp.com/')">
            Promises Demo
        </md-list-item>
        <md-list-item class="resources-list-item" ng-click="ctrl.external('https://docs.angularjs.org/api/ng/service/$q')">
            Angular's <code class="inline-code-spacing">$q</code>
        </md-list-item>
        <md-list-item class="resources-list-item" ng-click="ctrl.external('https://promisesaplus.com/')">
            Promises Specification
        </md-list-item>
        <md-list-item class="resources-list-item" ng-click="ctrl.external('https://github.com/kriskowal/q')">
            Kris Kowal's Q
        </md-list-item>
        <md-list-item class="resources-list-item" ng-click="ctrl.external('https://github.com/petkaantonov/bluebird')">
            Bluebird
        </md-list-item>
    </md-list>
    
</md-content>